.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 110px;

}

.about-title {
    position: relative;
}

.about-title h1 {
    margin-top: 50px;
    padding: 0 10px;
    font-size: 50px;
    font-weight: 600;
}

.about-title h1 span {
    font-family: 'Edu NSW ACT Cursive', cursive;
    font-weight: 600;
    color: #b476fb;
}

.about-title img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.about-section {
    display: flex;
    gap: 80px;
}

.about-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about-para {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
    font-size: 22px;
    font-weight: 500;
}

.about-para span {
    font-weight: 600;
    color: #b476fb;
    font-size: 26px;
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 55%;
}

.about-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: default;
    width: 120px;
    box-sizing: border-box;
}

.about-skill p {
    visibility: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.9s linear;
}

.about-skill:hover p {
    visibility: visible;
    opacity: 1;
}

.about-skill:hover {
    transform: translateY(-5px);
    outline: 5px dotted #FACC15;
    background-color: #fffbea;
}

.skill-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(267deg, #FF8A00 0%, #E52E71 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
}

.about-achievement:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.aboutleft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutleft img {
    max-width: 100%;
    height: auto;
}

.about-skill,
.about-achievement {
    transform-origin: center;
}