.footer-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1a1a1a;
    color: #ffffff;
}
.footer-container .top{
    color: rgb(153, 73, 228);
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}
.footer-container .bottom{
    font-size: 16px;
    font-weight: 400;
}